body {
  font: 14px 'Century Gothic', Futura, sans-serif;
}
button {
  background: #3f51b5;
  color: #fff;
}

ol,
ul {
  padding-left: 30px;
}

.buttonRed {
  color: red;
}

.divtologin {
  margin-top: 20px;
}

.divRow {
  display: inline-block;
  margin-top: -4px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game-board {
  margin: 12px 5px 0px 5px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.Icon {
  color: rgb(248, 48, 75);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

/* .wrapper--height800{
  max-height: 400px;
} */

.buttonSort {
  margin-left: 23px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
  margin-left: 115px;
  margin-top: 30px;
}

.gameonline {
  display: flex;
  flex-direction: row;
  margin-left: 85px;
  margin-top: 30px;
}

.game-info {
  min-height: 675px;
  min-width: 420px;
  margin-left: 140px;
  padding: 10px;
  background: rgb(240, 230, 230);
  display: 'inline-block';
  box-shadow: 10px 10px 10px 10px rgb(133, 131, 131);
}

.gameonline-info {
  min-height: 675px;
  min-width: 520px;
  max-width: 520px;
  margin-left: 110px;
  padding: 10px;
  background: rgb(240, 230, 230);
  display: 'inline-block';
  box-shadow: 10px 10px 10px 10px rgb(133, 131, 131);
}

.InfoLayout {
  margin: -40px 0px 0px 0px;
}

.avatar {
  margin: 10px 0px 10px 0px;
}

.Error {
  color: red;
  margin: 0px 100px 40px 0px;
}

.GridForm {
  width: 500px;
  height: 40px;
  margin: 30px 0px 30px 0px;
}

.Username {
  font-size: 25px;
}

.buttonUser {
  height: 50px;
  width: 50px;
}

.ErrorRegister {
  color: rgb(255, 106, 106);
  margin: 20px 20px 0px 10px;
}

.Info {
  display: flex;
}

.UserImage {
  display: inline;
  padding: 50px 0px 50px 100px;
}

.UploadImage {
  margin: 30px 0px 0px 0px;
  padding: 0px 60px 0px 40px;
  font-size: 18px;
}

.cardInfo {
  display: inline-flexbox;
}

.wrapper--w900 {
  max-width: 900px;
}

.InputImage {
  color: rgb(0, 0, 0);
}

.SpanOptions {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 0.5;
  text-align: left;
}

.OptionsPage {
  background-image: url(https://media.giphy.com/media/kg19fN5BXbZGIDznzG/giphy.gif);
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-options-bottom {
  margin: 0px 10px 50px 110px;
}

.btn-options-top {
  margin: -20px 10px 20px 110px;
}

.divAvatar {
  display: inline-flex;
  width: 100%;
  margin-left: 0.5px;
}

.li-online {
  max-width: 400px;
  background: rgb(250, 215, 215);
  min-height: 35px;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  display: inline-block;
  overflow: auto;
  word-wrap: break-word;
}

.li-left {
  float: left;
}
.li-right {
  float: right;
}

.divAvatarPlayer2 {
  margin-left: 0px;
  max-width: 500px;
  visibility: hidden;
  display: block;
  padding-left: 5px;
}

.divAvatarPlayer1 {
  margin-left: 10px;
  padding-right: 0px;
}

#messages {
  padding-left: 0px;
}

.li-name {
  font-size: 10px;
  margin-bottom: 2px;
  margin-left: 15px;
  width: 90%;
}

.imagePlayer2 {
  width: 50px;
  height: 50px;
  background: red;
}

.btn-gameonline {
  padding: 5px;
  border-radius: 20px;
}

#yes,
#no {
  margin-left: 13px;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
}

#new-notification {
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  visibility: hidden;
  height: 50px;
  font-size: 20px;
}

.li-mess-server{
  background: #91a0f5;
}
